body {
  font-family: Arial;
  background-image: url(./imgs/bg.jpeg);
  padding: 0%;
  margin: 0%;
}

input {
  width: 120%;
  height: 35px;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-inline: 13px;
  margin-bottom: 8px;
}



.topo{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title{
  width: 200px;
  height: 100%;
  background-color: #8137A4;
  align-items: center;
  justify-content: center;
}

.cab{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.barraLaranja{
  width: 100%;
  height: 10px;
  background-color: orangered;
}

.bottom{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos{
  width: 80%;
  height: 500px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-block {
  width: 250px;
  height: 300px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.block-Title{
  width: 100%;
  height: 20%;
  border-radius: 15px;
  background-color: #EFD6D6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgba(255, 106, 14, 0.5);
  ;
}

.seta{
  background-color: aliceblue;
  height: 25px;
}

.rodaPe{
  display: flex;
  justify-content: center;
}

.logo{
  height: 50px;
  width: 150px;
  background-image: url(./imgs/LogoEJExtenso.png);
  background-size: cover;
  margin-top: -25px;
}

#cu{
  font-size: 50px;
  text-align: center;
}

#butaoInput {
  width: 170px;
  height: 40px;
  border-radius: 35px;
  background-color: whitesmoke;
  color: black;
}